[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
EnvironmentFile=-{{ k8s_folder }}/config.conf
EnvironmentFile=-{{ k8s_folder }}/proxy.conf
ExecStart=/usr/sbin/kube-proxy \
	    $KUBE_LOGTOSTDERR \
	    $KUBE_LOG_LEVEL \
	    $KUBE_PROXY_ARGS \
        $PROXY_ADDRESS \
        $PROXY_KUBECONFIG
Restart=on-failure

[Install]
WantedBy=multi-user.target