###
# kubernetes kubelet config

KUBELET_ADDRESS="--address={{ hostvars[inventory_hostname]['ansible_' + k8s_cluster_iface].ipv4.address }}"

KUBELET_API_SERVERS="--api-servers=https://{{ groups['master'][0] }}"
KUBELET_CONFIG="--config={{ k8s_folder }}/manifests"
KUBELET_CLUSTER_DOMAIN="--cluster-domain={{ k8s_cluster_name }}"
KUBELET_TLS_CERT="--tls-cert-file={{ k8s_folder }}/ssl/{{ inventory_hostname }}-bundle.crt"
KUBELET_TLS_KEY="--tls-private-key-file={{ k8s_folder }}/ssl/{{ inventory_hostname }}.key"
KUBELET_KUBECONFIG="--kubeconfig={{ k8s_folder }}/kubeconfig"

{% if inventory_hostname in groups['nodes'] %}
    KUBELET_REGISTER_SCHEDULABLE="--register-schedulable=true"
{% else %}
    KUBELET_REGISTER_SCHEDULABLE="--register-schedulable=false"
{% endif %}

{% if  k8s_addon_dns %}
KUBELET_CLUSTER_DNS="--cluster_dns={{ k8s_service_network|ipaddr('net')|ipaddr(10)|ipaddr('address') }}"
{% endif %}