{
    "Network": "{{ k8s_flannel_network }}",
    "SubnetLen": {{ k8s_flannel_subnetlen }},
    "SubnetMin": "{{ k8s_flannel_subnetmin }}",
    "SubnetMax": "{{ k8s_flannel_subnetmax }}",
    "Backend": {
        {% if  k8s_flannel_backend_type == "vxlan" %}
        "Type": "vxlan",
        "VNI": {{ k8s_flannel_backend_vxlan_vni }}
        {% endif %}
    }
}