###
# kubernetes kube-controller-manager config

CONTROLLER_MGR_ADDRESS="--address=127.0.0.1"
CONTROLLER_MGR_KUBECONFIG="--kubeconfig={{ k8s_folder }}/kubeconfig"
CONTROLLER_MGG_CLUSTERNAME="--cluster-name={{ k8s_cluster_name }}"
