127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# k8s cluster hosts (private ifaces)
{% for host in groups['all'] %}
{{ hostvars[host]['ansible_' + k8s_cluster_iface].ipv4.address }}  {{ host }} {{ hostvars[host].ansible_fqdn }}
{% endfor %}